<a href="https://colab.research.google.com/github/zhijunm/Text_Mining/blob/master/BasicPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# my title
## level 2 heading
### level 3 heading
#### level 4 heading
*This is italic text.*
**This is bold text.**
***This is bold, italic text.***
* bullet item 1
* bullet item 2

In [0]:
print("Hello!")
print('Jon\'s prize')

Hello!
Jon's prize

In [0]:
tasty_food = ['Nachos']
tasty_food.append('Pizza')
tasty_food.append('Sushi')
print(tasty_food)
print(tasty_food[1])
print(tasty_food[0:2])
print(tasty_food[-1])

['Nachos', 'Pizza', 'Sushi']
Pizza
['Nachos', 'Pizza']
Sushi

In [0]:
numbers = [1,3,5,7]
numbers.extend([11,13])
print(numbers)

[1, 3, 5, 7, 11, 13]

In [0]:
numbers = [1,3,5,7]
numbers.insert(2,4)
print(numbers)

[1, 3, 4, 5, 7]

In [0]:
numbers = [1,3,5,7]
del numbers[1]
print(numbers)
numbers = [1,3,5,7]
del numbers[2:]
print(numbers)

[1, 5, 7]
[1, 3]

Tuple is an ordered sequence of items, cannot change the values, read only once created.
Faster than list, can be used as keys for a dictionary, while list cannot.

In [0]:
tuple = (1,2,3)

In [0]:
##empty dictionary
## key must be unique
pet_age = {}
pet_age ['Lyra']=6
pet_age ['Scout']=6
pet_age['Sheldon']=46

pet_age = {'Lyra':6, 'Scout':6, 'Sheldon': 45}
pet_age['Sheldon']=46
print(pet_age['Sheldon'])

46

Control statements change the order of processing

In [0]:
# example of an 'if' statement
message = 'Good afternoon'
name = 'Dan'

if name == 'Dan':
  message += ' ' + name


print(message)

Good afternoon Dan

In [0]:
# example of if-else
age = 26

if age < 18:
  print('Child')
else:
  print('Adult')

Adult

In [0]:
# example of if-elif
age = 18
message = 'Adult'

if age < 13:
  message = 'Child'
elif age < 20:
  message = 'Teen'

print(message)

Teen

In [0]:
# example of if-elif-else
age = 7

if age < 13:
  print('Child')
elif age < 20:
  print('Teen')
elif age < 30:
  print('Young Adult')
else:
  print('Adult')

Child

In [0]:
# example of a nested if statement
age = 14
gender = 'female'

if age < 18:
  if gender == 'female':
    print('Girl')
  else:
    print('Boy')
else: 
  if gender == 'female':
    print('Woman')
  else:
    print('Man')

Girl

Control statements, loop repeat a segment of code multiple times, need to control how to stop

In [0]:
# example of a for loop iterating through a list
names = ['Sheldon','Amy','Rajesh','Leonard','Penny']

for name in names:
  print('Hello', name)

Hello Sheldon
Hello Amy
Hello Rajesh

In [0]:
# example of a for loop useing the range() function
total = 0
for i in range(0, 10):
  total += i

print(total)

45

In [0]:
# example of a for loop iterating through a list using the range() function
item_prices = [12.99, 0.35, 2.49, 22.87, 6.99]
subtotal = 0
tax_rate = 1.1
total = 0

for index in range(len(item_prices)):
  subtotal += item_prices[index]

total = subtotal * tax_rate
print('Total:', total)

In [0]:
# example of a for loop iterating backwords using the range() function
for i in range(10, 0, -1):
  print(i)

print('liftoff!')

10
9
8
7
6
5
4
3
2
1
liftoff!

In [0]:
# example of a while loop
import numpy as np

total = 0. # total=0.0 floating point
counter = 0
while total < 1000:
  total += np.random.random()
  counter += 1

print('The loop ran {} times. The total was {}'.format(counter, total))

The loop ran 2016 times. The total was 1000.5601231578241

In [0]:
# example of a for loop with a break statement
total = 1
for i in range(1000):
  total *= 2
  print(total)
  if total > 1000000:
    break

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576

In [0]:
# example of nested loop iterating through nested lists
shoppers = ['Howard','Stuart','Penny','Bernadette']
item_prices = [[12,3.40],[65,12],[34.56, 23.12, 99.88],[0.45, 45.67]]

# for each shopper
for shopper_index in range(len(shoppers)):
  shopper = shoppers[shopper_index] # get the shopper's name
  shopper_item_prices = item_prices[shopper_index] # get the list of prices for the items that the shopper purchased 
  item_count = len(shopper_item_prices) # get the number of items that the shopper purchased
  total = 0 # compute the total amount that this shopper spent
  for item_price in shopper_item_prices:
    total += item_price

  print('{} bought {} item(s) totaling {}'.format(shopper, item_count, total))

Howard bought 2 item(s) totaling 15.4
Stuart bought 2 item(s) totaling 77
Penny bought 3 item(s) totaling 157.56
Bernadette bought 2 item(s) totaling 46.120000000000005

In [0]:
# example of defining and calling a 'crazy_name()' function
def crazy_name(name):
  names = ['Silly ', 'Wacky ', 'Drooling ', 'Dull ']
  random_index = np.random.randint(len(names))
  return names[random_index] + name

print(crazy_name('Dan'))

Silly Dan

In [0]:
# example of defining a greeting() function and then call the function from a for loop with a lsit
def greeting(name):
  return 'Greetings ' + name + '!'

names = ['Howard','Stuart','Penny','Bernadette']
for name in names:
  print(greeting(name))

Greetings Howard!
Greetings Stuart!
Greetings Penny!
Greetings Bernadette!

In [0]:
# example of defining a function that uses conditional logic, and then call from a for loop with a dictionary
def  get_age_label(age):
  if age < 18:
    return 'Child'
  else:
    return 'Adult'

names = {'Sheldon': 45, 'Amy': 17, 'Rajesh': 37}

for name in names:
  age_label = get_age_label(names[name])
  print('{} is a(n) {}'.format(name, age_label))

Sheldon is a(n) Adult
Amy is a(n) Child
Rajesh is a(n) Adult

In [0]:
# example of a recursive function that computers the factorial of a number
def factorial(x):
  if x == 1:
    return 1
  else:
    return (x*factorial(x-1))

print(factorial(5))

120